<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ItcastPayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>340665641C7FE54500DFAF54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3406657D1C7FE54600DFAF54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>340665881C7FE54600DFAF54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
